<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanzhenjie.daynight">

    <application
        android:allowBackup="true"
        android:icon="${icon}"
        android:label="@string/app_name_project1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--配合build.gradle使用-->
        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appkey"-->
            <!--android:value="${ALI_PUSH_APPKEY}"/> &lt;!&ndash; 请填写你自己的- appKey &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.alibaba.app.appsecret"-->
            <!--android:value="${ALI_PUSH_APPSECRET}"/> &lt;!&ndash; 请填写你自己的appSecret &ndash;&gt;-->
    </application>

</manifest>